@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    background-color:  rgb(121, 146, 122);
}

/* Heading and Logo's */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(51, 77, 52);
}

#logo {
    font-size: 275%;
    text-align: center;
    text-decoration: none;
}

#navigation_menu {
    font-size: 115%;
    letter-spacing: 3px;
    text-align: center;
    padding-top: -20px;
}

#navigation_menu, #logo {
    line-height: 75px;
    padding-left: 15px;
}

#navigation_menu li {
    text-align: center;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#navigation_menu a {
    text-decoration: none;
    color: inherit;
}

#navigation_menu a:hover {
    border-bottom: 1px solid #8b8787;
}

#active.home {
    border-bottom: 1px solid #8b8787;
}

/* dahlia-field image */

#dahlia-field-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#dahlia-field-image {
    height: 600px;
    width: 100%;
    background: url('../css/image/Dahlia-field-resized.jpg') no-repeat center center;
}

/* cover-text to dahlia-field image */

#cover-text, #cover-text h2 {
    color: rgb(51, 77, 52);
}

#cover-text {
    font-size: 150%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-left: 30px;
    background-color: rgba(154, 150, 152, 0.8);
    bottom: 75px;
    position: absolute;
    float: right;
}

/* about us */

#about-us {
    text-align: center;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

#about-us h2 {
    padding-bottom: 10px;
    text-align: center;
}

#About-us-text {
    text-align: left;
}

/* sale images and text */

#column {
    width: 30%;
    float: left;
    padding: 5px;
    margin-left: 20px;
}

#column image {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

#sales {
    text-align: center;
    padding: 30px 30px;
}

#bunch-flowers {
    height: 100%;
    width: 100%;
}

/* footer */

footer {
    height: 150px;
}

#social-networks {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: rgb(51, 77, 52);
}

/* Gallery */

#photo {
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    padding: 40px;
}

#photo > img {
    width: 100%;
}

/* Media Queries */

/* For large to medium screen size from 1200px wide and down*/

@media screen and (max-width: 1200px) {
    #about-us {
        width: 65%;
        margin: auto;
    }
}

/* For medium screen size from 950px wide and down*/

@media screen and (max-width: 950px) {
    #navigation_menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

/* Sustainablity page */

#sustainablity_text {
    margin-left: 10%;
    width: 50%;
}

#sustainable_video_outer {
    text-align: center;
}

#sustainable_video_inner {
    width: 500px;
    display: inline-block;
    padding-top: 20px;
}