@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 310;
}

/* Heading and Logo's */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #8b8787;
}

#logo {
    float: left;
    font-size: 275%;
}

#navigation_menu {
    font-size: 115%;
    letter-spacing: 3px;
}

#navigation_menu, #logo {
    line-height: 75px;
    padding-left: 15px;
}

#navigation_menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation_menu a {
    text-decoration: none;
    color: inherit;
}

#navigation_menu a:hover {
    border-bottom: 1px solid #8b8787;
}

#active.home {
    border-bottom: 1px solid #8b8787;
}

/* dahlia-field image */

#dahlia-field-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#dahlia-field-image {
    height: 600px;
    width: 100%;
    background: url('../css/image/poeny-bunch.resized.jpg') no-repeat center center;
}

/* cover-text to dahlia-field image */

#cover-text, #cover-text h2 {
    color: rgb(51, 77, 52) ;
}

#cover-text {
    font-size: 150%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 1200px;
    height: 75px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: rgba(154, 150, 152, 0.8);
    bottom: 10px;
    right: 275px;
    position: absolute;
}

/* about us */

#about-us {
    text-align: left;
}